.Character {
   width: 71px;
   height: 90px;
   overflow:hidden
}
.spritesheet {
   animation: move 1s steps(4) infinite;  
}
@keyframes move {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}
.speech {
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 30px;
}